$background: 		#0d0f18;
$foreground:		#a5b6cf;

$red: 					#dd6777;
$brightRed: 		#e26c7c;
$green: 				#90ceaa;
$brightGreen: 	#95d3af;
$yellow: 				#ecd3a0;
$brightYellow: 	#f1d8a5;
$blue: 					#86aaec;
$brightBlue: 		#8baff1;
$magenta: 			#c296eb;
$brightMagenta: #c79bf0;
$cyan: 					#93cee9;
$brightCyan: 		#98d3ee;
$white: 				#cbced3;
$brightWhite: 	#d0d3d8;
