@import "_colors";

.bar {
  background-color: $bg;
  font-family: "Maple Mono SC NF";
  color: $fg;
  padding: 10px;
}

.launcher {
  margin: 7px 0 7px 7px;
  font-size: 14px;
  color: $fg;

  .dispatcher {
    background-color: $accent;
    color: $bg;
    border-radius: 5px;
    font-size: 27px;
    padding: 1px 11px 1px 11px;
  }
}

.works {
  margin-top: 5px;
  margin-left: 13px;
  margin-right: 13px;
  font-size: 20px;
  background-color: $bg;

  .w0 {
    color: $bgSecondary;
    background-color: $bg;
    padding: 10px 7px 10px 7px;

    /*&:hover {
			background-color: $bg;
      color: $fgDim;
    }*/
  }

  .w01,
  .w02,
  .w03,
  .w04,
  .w05,
  .w06,
  .w07 {
    color: $fg;
    background-color: $bg;
    padding: 10px 7px 10px 7px;

    /*&:hover {
			background-color: $bg;
      color: $bgSecondaryAlt;
    }*/
  }

  .w011,
  .w022,
  .w033,
  .w044,
  .w055,
  .w066,
  .w077 {
    color: $accent;
    background-color: $bg;
    padding: 10px 7px 10px 7px;

    /*&:hover {
      color: $blue;
    }*/
  }
}

.sep {
  color: $bg;
  margin: 0 1px 0 0;
}

.timebutton {
    background-color: $accent;
    color: $bg;
    border-radius: 5px;
    font-size: 16px;
    padding: 7px 14px 7px 10px;
    margin: 7px;
}


.batterybutton {
    background-color: $accent;
    color: $bg;
    border-radius: 5px;
    font-size: 16px;
    padding: 7px 10px 7px 10px;
    margin: 7px;
}


.musicbutton {
    background-color: $accent;
    color: $bg;
    border-radius: 5px;
    font-size: 16px;
    padding: 7px 10px 7px 10px;
    margin: 7px;
}


.membutton {
    background-color: $accent;
    color: $bg;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px 0 10px;
    margin: 7px;
}

.diskusagebutton {
    background-color: $accent;
    color: $bg;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px 0 10px;
    margin: 7px;
}


.updatesbutton {
    background-color: $accent;
    color: $bg;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px 0 10px;
    margin: 7px;
}
