@import "_colors";

.music-player {
  background-color: $bg;
  .song-art {
    background-size: 58% 100%;
    background-repeat: no-repeat;
    border-radius: 6px;

    margin-right: 15px;

    .music-info {
      all: unset;
      background-color: transparent;
      border-radius: 6px;

      min-width: 20px;
      margin-top: 10px;
      margin-left: -128px;

      .np {
        margin-bottom: 6px;
      }

      .title {
        font-size: 16px;
        font-weight: bolder;
      }

      .artist {
        color: $fgDim;
      }
    }
  }

  .song-controls {
    background-color: $bg;
    padding: 2px 2px;
    margin-left: 4px;
    margin-right: 7px;
    //border-radius: 7px;
    border: 0px;
    margin-top: 9px;

    button {
      font-family: 'Inter Nerd Font';
      background-color: $accent;
      color: $bg;
      //border-radius: 5px;
      font-size: 25px;
      padding: 0 10px 0 10px;
      margin-left: 5px;
      margin-right: 3px;
    }
  }

  .np {
    margin-bottom: 6px;
    color: $fgDim;
  }
        
  .title {
    font-size: 16px;
    font-weight: bolder;
  }

  .artist {
    color: $fgDim;
  }
}
